.judul {
    
    margin: 0px;
}

.r1 {
    display: flex;
    margin: 0px;
    gap: 10px;
}

.r2 {
    display: flex;
    margin: 1rem 0rem;
    gap: 10px;
}

.r3 {
    display: flex;
    margin: 0px;
    gap: 10px;
}

.card {
    background-color: gray;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    display: grid;
    place-items: center;
}

.mb-1 {
    margin-bottom: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

img {
    border-radius: 5px;
    height: 80%;
    width: 60%;
}